{% extends 'classify/layout.html' %}
{% block body %}
<div class="container">
    <div class="row">
        <h1>{{site.name}}</h1>
        <div class="bs-component">
          <table class="table table-striped table-hover ">
            <thead>
              <tr>
                <th>Image</th>
                <th>Site</th>
                <th>Date</th>
              </tr>
            </thead>
            <tbody>
              {% for image in images %}
                <tr>
                  <td><a href="{% url 'classify:image_observations' image.id %}">{{image}}</a></td>
                  <td><a href="{% url 'classify:site_images' image.site.id %}">{{image.site}}</a></td>
                  <td>{{image.date}}</td>
                </tr>
              {% empty %}
                  <tr>No sites yet.</tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
</div>

{% endblock %}